@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url("../img/img02t2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(211, 198, 198, 0.5);
    backdrop-filter: blur(0.5px);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-header-logo {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header-logo img {
    object-fit: contain; 
    height: 150%;
    width: 150%;
}

.container-header-navbar {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.container-header-navbar > li {
    list-style: none;
}

.container-header-navbar > li > a {
    color: #F0FFFF;
    text-decoration: none;
    font-size: 0.85rem;
}

.container-header-navbar li a:hover{
    padding-bottom: 1px;
    border-bottom: 2.5px solid #8f8fa3;
}

.container-header-logo2 {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-header-logo2 img {
    object-fit: contain; 
    height: 150%;
    width: 150%;
}

.container-main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main-textos {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-main-textos-titulo {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-main-textos-titulo-1 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-main-textos-titulo-2 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main-textos-btn {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-main-imgs {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}