/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-escuro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.container-linha1 {
    position: absolute;
    width: 0.105rem;
    height: 7.5%;
    background-color: #ffff;
    top: 55%;
    left: 1.75%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.container-linha2,
.container-linha3,
.container-linha4,
.container-linha5 {
    position: absolute;
    width: 0.25rem;
    height: 6%;
    background-color: #ffff;
    right: 0.7%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.container-linha2 {
    top: 50%;
}

.container-linha3 {
    top: 41%;
}

.container-linha4 {
    top: 32%;
}

.container-linha5 {
    top: 23%;
}

.container-nome {
    position: absolute;
    width: 2%;
    height: 3%;
    top: 34%;
    right: 2.2%;
}

.container-nome {
    color: #fcf8f8;
    font-size: 0.7rem;
}

.container-L1-vertical {
    position: absolute;
    width: 0.18%;
    height: 8%;
    border-radius: 15%;
    background-color: #e0dddd;
    top: 55.4%;
    right: 37%;
}

.container-L1-horizontal {
    position: absolute;
    width: 4%;
    height: 0.4%;
    border-radius: 15%;
    background-color: #e0dddd;
    top: 63%;
    right: 33%;
}

.container-L2-vertical {
    position: absolute;
    width: 0.18%;
    height: 8%;
    border-radius: 15%;
    background-color: #e0dddd;
    top: 17.1%;
    right: 4.7%;
}

.container-L2-horizontal {
    position: absolute;
    width: 4%;
    height: 0.4%;
    background-color: #e0dddd;
    top: 17.17%;
    right: 4.8%;
}

.container-github{
    background-image: url("../img/github-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 1.5%;
    height: 3%;
    z-index: 3;
    top: 43%;
    left: 1%;
    cursor: pointer;
}

.container-linkedin {
    background-image: url("../img/linkdin-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 1.5%;
    height: 3%;
    z-index: 3;
    top: 47%;
    left: 1%;
    cursor: pointer;
}

.container-instagram {
    background-image: url("../img/instagram-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 1.5%;
    height: 3%;
    z-index: 3;
    top: 51%;
    left: 1%;
    cursor: pointer;
}

.container-header {
    z-index: 2;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(211, 198, 198, 0.3);
    backdrop-filter: blur(0.5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container-header-logo {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header-logo img {
    object-fit: contain; 
    height: 70%;
    width: 50%;
}

.container-header-navbar {
    height: 100%;
    width: 63%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.container-header-navbar > li {
    list-style: none;
}

.container-header-navbar > li > a {
    color: #F0FFFF;
    text-decoration: none;
    font-size: 0.8rem;
}

.container-header-navbar li a:hover{
    padding-bottom: 1px;
    border-bottom: 2.5px solid #c4c4cc;
}

.container-header-logo2 {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.container-header-logo2 img {
    object-fit: contain; 
    height: 80%;
    width: 50%;
}

.container-main {
    z-index: 2;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-main-textos {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-main-textos-titulo {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-main-textos-titulo-1 {
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-main-textos-titulo-1 > h1 {
    font-size: 3rem;
    color: #ffff;
}

.container-main-textos-titulo-2 {
    width: 60%;
    height: 50%;
    display: flex;
    align-items: left;
    justify-content: top;
}

.container-main-textos-titulo-2 > h1 {
    font-size: 3rem;
    color: #ffff;
}

.container-main-textos-paragrafo {
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main-textos-paragrafo > p {
    font-size: 1rem;
    color: #ffff;
}

.container-main-textos-btn {
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main-textos-btn > button {
    width: 30%;
    height: 50%;
    border-radius: 20px;
    font-size: 0.85rem;
    background-color: #f1f1f1;
    color: #000;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.container-main-imgs {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-main-imgs-principal {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main-imgs-principal-espacamento {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.container-main-imgs-principal-espacamento > img {
    width: 80%;
    height: 85%;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container-main-imgs-cards {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-bottom: 2%;
}

.img-cards {
    border-radius: 10%;
    width: 15%;
    height: 33%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 2%;
    cursor: pointer;
    border: 2px solid #ffff;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.img-cards:hover {
    transform: translateY(-20px) scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
