* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: url("./img/img02t2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(211, 198, 198, 0.5);
    backdrop-filter: blur(0.5px);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .container-header-logo {
    background-image: url("./img/img01t2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 60%;
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.container-header-navbar {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.container-header-navbar > li {
    list-style: none;
}

.container-header-navbar > li > a {
    color: #F0FFFF;
    text-decoration: none;
    font-size: 0.85rem;
}

.container-header-navbar li a:hover{
    padding-bottom: 1px;
    border-bottom: 2px solid #c4c4cc;
}

/* .container-header-logo2 {
    background-image: url("./img/img01t2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 60%;
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.container-main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main-textos {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-main-textos-titulo {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-main-textos-titulo-1 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-main-textos-titulo-2 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main-textos-btn {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .container-main-textos-btn > button {
    
} */

.container-main-imgs {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}